.header {
  height: 100px;
  background-color: #009688;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#009688 20vh, #dbdbd1 20vh);
}

main {
  height: 90vh;
  width: 80%;
}

.top-left {
  height: 60px;
}

.top-right {
  height: 60px;
}
.user-img {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.top-side {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-contaier {
  background-color: azure;
  width: 70%;
}
.bell {
  background-color: #8edafc;
}

.bell-icon {
  background-color: white;
  color: #8edafc;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenitore-left {
  width: 33%;
  border-right: 1px solid black;
  height: 100%;
  overflow: hidden;
}
.contact:hover {
  cursor: pointer;
  background-color: rgba(203, 197, 197, 0.897);
}
.contacts-list {
  overflow-y: auto;
  height: 500px;
  background-color: #ffffff;
}
.serch-contacts {
  background-color: #ffffff;
}

section {
  width: 100%;
  background-image: url("/img/mine.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info {
  background-color: #eaeaea;
  height: 60px;
}

.chat {
  min-width: 100%;
  flex-grow: 1;
}

.send {
  text-align: end;
}

.message {
  border-radius: 15px;
  text-align: left;
  max-width: 600px;
  min-width: 200px;
  font-size: 1 rem;
  line-height: 1rem;
  padding: 15px;
}

.text-message {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.received > .message {
  background-color: #d5f9ba;
}
.sent > .message {
  background-color: #ffffff;
}

.text-message.sent {
  justify-content: left;
}

.text-message sub {
  font-size: 0.6rem;
  float: right;
  margin-top: 15px;
  color: grey;
}

.text-input {
  background-color: #eaeaea;
  padding: 20px;
}
